.drop-menu {
  align-items: center;
  background-color: #DAE4EE;
  display: none;
  @include setDimensions(600px, 250px);
  margin-left: 81%;
  margin-top: 92px;
  overflow: scroll;
  padding: 12px;
  position: absolute;
  text-align: center;
  z-index: 3;
}

.drop-menu h2 {
  color: $eucalyptus-green;
  margin: 0px;
}

.pantry-list {
  color: #000000;
  padding-left: 15px;
  text-align: left;
  display: inline;
}
