@import 'variables';
@import 'header';
@import 'banner-image';
@import 'buttons';
@import 'main';
@import 'pantry';
@import 'sidebar';

body {
  background-color: $steel-blue;
  display: grid;
  font-family: $primary-font;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "header header"
    "image image"
    "aside main";
  @include setDimensions(100vh, auto)
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: auto;
}

h1 {
  align-self: center;
  color: white;
  font-family: $secondary-font;
  font-size: 50px;
  margin: 0%;
  padding: 0.5% 0.7% 0%;
  @include setDimensions(auto, 70%)
}

h2 {
  color: #84C8A4;
  margin: 10px 0px 10px 0px;
}

h3 {
  color: $eucalyptus-green;
  cursor: pointer;
  @include setDimensions(17%, auto);
  margin: 5px 5px 10px 0px;
  transition: .8s ease;
}

h4 {
  color: $eucalyptus-green;
  background-color: $inchworm-green;
  border-radius: 3px;
  margin: 10px 0px 0px 0px;
  padding: 1px 4px 1px 4px;
  @include setDimensions(auto, max-content);
}

@media screen and (max-width: 800px) {
  body {
    background-color: $steel-blue;
    display: grid;
    font-family: $primary-font;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "image image"
      "aside aside"
      "main main";
    @include setDimensions(100vh, auto)
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: auto;
  }

  aside {
    background-color: white;
    grid-area: aside;
    @include displayFlex(row, center, nowrap);
    text-align: center;
  }
  
  .wrap {
    background-color: white;
    @include setDimensions(auto, auto);
    // @include displayFlex(row, center, nowrap);
    padding: 10px;
    position: relative;
  }

  .drop-menu {
    align-items: center;
    background-color: #DAE4EE;
    display: none;
    @include setDimensions(600px, 250px);
    margin-left: 60%;
    margin-top: 110px;
    overflow: scroll;
    padding: 12px;
    position: absolute;
    text-align: center;
    z-index: 3;
  }

  @media screen and (max-width: 600px) {
    body {
      background-color: $steel-blue;
      display: grid;
      font-family: $primary-font;
      grid-template-columns: 1fr 5fr;
      grid-template-rows: auto;
      grid-template-areas:
        "header header"
        "image image"
        "aside aside"
        "main main";
      @include setDimensions(100vh, auto)
      margin: 0;
      padding: 0;
      -webkit-font-smoothing: auto;
    }

    header {
      @include displayFlex(row, center, wrap);
      grid-area: header;
      padding: 0% 0%;
      @include setDimensions(auto, 100%);
    }
  }
}